src/auto/index.html
<html lang="en"><!DOCTYPE html><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><meta property="og:site_name" content="FBS"><meta property="og:title" content="You can afford a new car with FBS! Start trading now and become #1!"><meta property="og:description" content="What do we offer? Additional income, that will help to make your ultimate dreams come true!"><meta property="og:type" content="website"><link rel="stylesheet" href="./style/main.css"></head><body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MD3F98" height="0" width="0" style="display:none;visibility:hidden;"></iframe><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MD3F98');</script></noscript><!-- End Google Tag Manager --><section class="promo"><div class="container"><div class="promo__header"><a class="logo" href="https://fbs.com" target="_blank"><img src="./i/logo.png" width="90" height="90" alt="Go to FBS"></a><h1 class="slogan"><div class="slogan__title">You can afford a new car with FBS!</div><div class="slogan__sub">Start trading now and become #1!</div></h1></div><div class="promo__title">What do we offer?</div><div class="promo__sub"><div>Additional income, that will help to make your ultimate dreams come true!</div><div>You don’t need to set money aside for years, to buy a brand new car.</div></div><form class="form" method="POST" action="https://my.fbs.com/registration/?lang=en"><div class="row"><div class="col-sm-6 form__group"><input class="form__input is-block" type="text" name="RegistrationForm[name]" placeholder="Your full name"/></div><div class="col-sm-6 form__group"><input class="form__input is-block" type="email" name="RegistrationForm[email]" placeholder="E-mail"/><input type="hidden" name="RegistrationForm[tariff]" value="stand"/></div></div><div class="form__group"><div class="js-checkbox checkbox" role="checkbox" tabindex="0"><input class="checkbox__input" type="checkbox" name="RegistrationForm[agreeWithTerms]" value="1" id="fbs71"/><label class="checkbox__label" for="fbs71"><i class="checkbox__icon"></i> I accept Customer <a href="https://my.fbs.com/upload/agreement_en.pdf" target="_blank">Agreement</a> conditions and accept all risks inherent with trading operations on the world financial markets.</label></div></div><button class="btn btn--brand is-fx-width">Open account</button></form></div></section><section class="benefits"><div class="container container--fluid"><h2 class="benefits__title">Why trading with FBS is the first choice when talking about additional income?</h2><div class="fl-row"><div class="col-sm-6 col-lg-3"><div class="benefit"><div class="benefit__thumb"><i class="i i--money"></i></div><div class="benefit__body"><h3 class="benefit__title">Quick profits</h3><div class="benefit__desc">Trader's profit could many times exceed the invested funds. You can easily become the first of your friends who have afforded a premium car.</div></div></div></div><div class="col-sm-6 col-lg-3"><div class="benefit"><div class="benefit__thumb"><i class="i i--time"></i></div><div class="benefit__body"><h3 class="benefit__title">No fixed office hours</h3><div class="benefit__desc">Trading on Forex is not tied to a specific time – you can work when it is comfortable for you without loss of your main job.</div></div></div></div><div class="col-sm-6 col-lg-3"><div class="benefit"><div class="benefit__thumb"><i class="i i--graphs"></i></div><div class="benefit__body"><h3 class="benefit__title">Profit withdrawal is easy as a pie</h3><div class="benefit__desc">You can withdraw your profit at any time, for example, when you have gained enough money to go buy a car of your dream. :)</div></div></div></div><div class="col-sm-6 col-lg-3"><div class="benefit"><div class="benefit__thumb"><i class="i i--wheel"></i></div><div class="benefit__body"><h3 class="benefit__title">Agreeable pastime</h3><div class="benefit__desc">Trading on Forex is not only work, but also a favorite hobby for millions of people around the world.</div></div></div></div></div></div></section><section class="bullets"><h2 class="bullets__title">Why choose FBS?</h2><div class="container"><div class="bullet"><div class="bullet__thumb"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="#fff"> <path d="M91.5 100h-83C7.1 100 6 98.9 6 97.5V59.1c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5V95h78V59.1c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5v38.4c0 1.4-1.1 2.5-2.5 2.5z"/> <path d="M73.4 59.1c-1.4 0-2.5-1.1-2.5-2.5 0-12.2-9.4-22.1-20.9-22.1s-20.9 9.9-20.9 22.1c0 1.4-1.1 2.5-2.5 2.5s-2.5-1.1-2.5-2.5c0-15 11.6-27.1 25.9-27.1s25.9 12.2 25.9 27.1c0 1.4-1.1 2.5-2.5 2.5z"/> <path d="M97.5 60.2h-95C1.1 60.2 0 59 0 57.7s1.1-2.5 2.5-2.5h95c1.4 0 2.5 1.1 2.5 2.5s-1.1 2.5-2.5 2.5zM50 34.4c-6.6 0-11.7-7-11.7-16 0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5c0 6 3.1 11 6.7 11s6.7-5 6.7-11c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5c0 8.9-5.1 16-11.7 16z"/> <path d="M61.8 17.9H38.2c-1.4 0-2.5-1.1-2.5-2.5V3.1c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5v9.8h18.7V3.1c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5v12.3c-.1 1.4-1.2 2.5-2.6 2.5z"/> <path d="M74.4 5H25.6c-1.4 0-2.5-1.1-2.5-2.5S24.2 0 25.6 0h48.8c1.4 0 2.5 1.1 2.5 2.5S75.8 5 74.4 5z"/> <path d="M70.6 16.7c-1.4 0-2.5-1.1-2.5-2.5V3.7c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5v10.5c0 1.3-1.1 2.5-2.5 2.5z"/></svg></div><div class="bullet__body"><h3 class="bullet__title">Learning opportunities</h3><div class="bullet__desc">Even if you've never traded on Forex before, our training seminars and webinars will help you quickly understand the basics. You are welcome to use expert reviews from our leading financial analysts, which will help you make the right decisions for increasing your profit.</div></div></div><div class="bullet"><div class="bullet__thumb"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="81" height="102" viewBox="0 0 819 1024"><path fill="none" stroke="#fff" stroke-width="36.4089" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" d="M779.973 876.747c0 46.615-36.631 83.253-83.253 83.253h-556.132c-46.634 0-83.253-36.631-83.253-83.253v-466.205c0-46.634 36.631-83.253 83.253-83.253h557.81c46.615 0 83.253 36.631 83.253 83.253v466.205z"></path><path fill="none" stroke="#fff" stroke-width="36.4089" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" d="M395.328 302.314c0 0-357.979-111.559-173.167-239.769 183.157-126.544 173.167 239.769 173.167 239.769z"></path><path fill="none" stroke="#fff" stroke-width="36.4089" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" d="M450.274 298.983c0 0 329.682-103.234 159.852-219.788s-159.852 219.788-159.852 219.788z"></path><path fill="none" stroke="#fff" stroke-width="36.4089" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" d="M418.639 343.926v597.76"></path></svg></div><div class="bullet__body"><h3 class="bullet__title">Promotions and bonuses</h3><div class="bullet__desc">We offer the most favorable conditions to start your career in trading. Create an account and choose a preferred monetary bonus, and all the income you get from it is completely yours!</div></div></div><div class="bullet"><div class="bullet__thumb"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="125" viewBox="0 0 100 100" fill="#fff"> <path d="M85.3 33.2C81.5 16.9 66.8 5.3 50 5.3c-16.9 0-31.5 11.6-35.3 27.9C8.4 35.3 3.9 41.1 3.9 48v15.2c0 7.3 5.1 13.4 11.9 15.1 3.7 7.7 11.3 12.6 20 12.6h5c.9 3 3.7 5.2 7 5.2h5.4c4.1 0 7.4-3.3 7.4-7.4s-3.3-7.4-7.4-7.4h-5.4c-3 0-5.6 1.8-6.8 4.4h-5.3c-5.7 0-10.8-2.8-13.9-7.3 3.8-1 6.7-4.5 6.7-8.7V41.4c0-4.7-3.7-8.6-8.3-9 4-12.9 16-22 29.7-22 13.8 0 25.8 9.1 29.7 22-4.6.4-8.3 4.2-8.3 9v28.3c0 5 4 9 9 9 8.6 0 15.6-7 15.6-15.6V48c.1-6.9-4.4-12.7-10.6-14.8zM47.9 86.5h5.4c1.2 0 2.2 1 2.2 2.2s-1 2.2-2.2 2.2h-5.4c-1.2 0-2.2-1-2.2-2.2 0-1.3.9-2.2 2.2-2.2zM23.4 41.4v28.3c0 2.1-1.7 3.8-3.8 3.8-5.7 0-10.4-4.7-10.4-10.4V48c0-5.7 4.7-10.4 10.4-10.4 2 0 3.8 1.7 3.8 3.8zm67.4 21.8c0 5.7-4.7 10.4-10.4 10.4-2.1 0-3.8-1.7-3.8-3.8V41.4c0-2.1 1.7-3.8 3.8-3.8 5.7 0 10.4 4.7 10.4 10.4v15.2z"/></svg></div><div class="bullet__body"><h3 class="bullet__title">24/7 support in your native language</h3><div class="bullet__desc">If you have any questions, our support team is always ready to help. They will promptly answer all your questions about trading through chat or by phone.</div></div></div><div class="bullet"><div class="bullet__thumb"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 50 50" fill="#fff"> <path d="M13.4 42.2h6l4.8 3.5c.2.2.5.2.7.2s.5-.1.7-.2l4.8-3.5h6c.5 0 1-.3 1.2-.9l1.9-5.7 4.8-3.5c.4-.3.6-.9.5-1.4L43.1 25l1.9-5.7c.2-.5 0-1.1-.5-1.4l-4.8-3.5-1.9-5.7c-.2-.5-.6-.9-1.2-.9h-6l-4.8-3.5c-.4-.3-1-.3-1.5 0l-4.8 3.5h-6c-.5 0-1 .3-1.2.9l-1.9 5.7-4.8 3.5c-.4.3-.6.9-.5 1.4L6.9 25 5 30.7c-.2.5 0 1.1.5 1.4l4.8 3.5 1.9 5.7c.2.5.7.9 1.2.9zM7.7 30.6l1.7-5.2c.1-.3.1-.5 0-.8l-1.7-5.2 4.4-3.2c.2-.2.4-.4.5-.6l1.7-5.2h5.5c.3 0 .5-.1.7-.2L25 6.9l4.4 3.2c.2.2.5.2.7.2h5.5l1.7 5.2c.1.3.2.5.5.6l4.4 3.2-1.7 5.2c-.1.3-.1.5 0 .8l1.7 5.2-4.4 3.2c-.2.2-.4.4-.5.6l-1.7 5.2h-5.5c-.3 0-.5.1-.7.2L25 43.1l-4.4-3.2c-.2-.2-.5-.2-.7-.2h-5.5l-1.7-5.2c-.1-.3-.2-.5-.5-.6l-4.5-3.3z"/> <path d="M25 31.1c-1.4 0-2.5-.9-2.5-2 0-.7-.6-1.2-1.2-1.2s-1.3.5-1.3 1.2c0 2.1 1.6 3.8 3.8 4.3v2.3c0 .7.6 1.2 1.2 1.2s1.2-.6 1.2-1.2v-2.3c2.1-.5 3.7-2.2 3.7-4.3 0-3.1-2.4-4.4-4.4-5.5-1.8-1-2.9-1.6-2.9-2.9 0-.5.3-.9.5-1.1.4-.4 1.1-.7 1.7-.7 1.2 0 2.2.8 2.2 1.8 0 .7.6 1.2 1.2 1.2s1.2-.6 1.2-1.2c0-2-1.5-3.6-3.5-4.1v-2.3c0-.7-.6-1.2-1.2-1.2s-1.2.6-1.2 1.2v2.3c-.9.2-1.7.6-2.3 1.2-.8.8-1.2 1.8-1.2 2.8 0 2.8 2.3 4.1 4.2 5.1 1.9 1 3.1 1.8 3.1 3.3.2 1.2-.9 2.1-2.3 2.1z"/></svg></div><div class="bullet__body"><h3 class="bullet__title">Convenient financial transactions</h3><div class="bullet__desc">FBS supports deposit and withdrawal of funds via a variety of international and local payment systems and banks.</div></div></div></div></section><footer class="page-footer"><div class="container container--full page-footer__wrapper"><div class="row"><div class="col-md-6"><img class="img-responsive page-footer__thumb" src="./i/car.jpg" width="849" height="424"></div><div class="col-md-6 page-footer__form"><form class="form" method="POST" action="https://my.fbs.com/registration/?lang=en"><div class="row"><div class="col-sm-6 form__group"><input class="form__input is-block" type="text" name="RegistrationForm[name]" placeholder="Your full name"/></div><div class="col-sm-6 form__group"><input class="form__input is-block" type="email" name="RegistrationForm[email]" placeholder="E-mail"/><input type="hidden" name="RegistrationForm[tariff]" value="stand"/></div></div><div class="form__group"><div class="js-checkbox checkbox" role="checkbox" tabindex="0"><input class="checkbox__input" type="checkbox" name="RegistrationForm[agreeWithTerms]" value="1" id="fbs127"/><label class="checkbox__label" for="fbs127"><i class="checkbox__icon"></i> I accept Customer <a href="https://my.fbs.com/upload/agreement_en.pdf" target="_blank">Agreement</a> conditions and accept all risks inherent with trading operations on the world financial markets.</label></div></div><button class="btn btn--brand is-fx-width">Open account</button></form></div></div></div><div class="page-footer__c">© 2016 FBS Market inc.</div></footer><script>WebFontConfig = {
  google: { families: [ 'Open+Sans:300,400,600,600i&amp;subset=latin-ext,vietnamese' ] }
};
</script><script>(function() {
  var wf = document.createElement('script');
  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
  wf.type = 'text/javascript';
  wf.async = 'true';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(wf, s);
})();</script></body></html>

src/gadgets/index.pug
extends ../common/_layout
block vars
  -
    const PROD = false;
  include ./_project_mixins

block content
  section.promo
    .container
      //- +
      .promo__header
        a.logo(href=$.site target="_blank"): img(src="./i/logo.png" width="90" height="90" alt="Go to FBS")
        h1.slogan
          .slogan__title
            strong!= $.p0
          .slogan__sub!= $.p1
  //- +
  section.benefits
    .container
      h1.benefits__title!= $.p2
      h3.benefits__title!= $.p3
      +form
      .h1.benefits__title!= $.p4
      .fl-row
        each benefit in benefits
          +benefit(benefit)
  //- +
  section.bullets
    h2.bullets__title!= $.p13
    .container
      each bullet in bullets
        +bullet(bullet)
  //- +
  footer.page-footer
    .container
      +form
      .page-footer__c © 2016 FBS Market inc.

  case $.lang
    when 'vi'
      script.
        WebFontConfig = {
          google: { families: [ 'Roboto+Condensed:400,700&amp;subset=vietnamese' ] }
        };

    when 'ja'
      style.
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
          font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        }
    when 'my'
      script.
        WebFontConfig = {
          google: { families: [ 'Padauk:400,700&amp;subset=myanmar' ] }
        };
    default
      script.
        WebFontConfig = {
          google: { families: [ 'Playfair+Display:400,700', 'Raleway:400, 700' ] }
        };

  if $.lang !=='ja'
    script.
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
